.root {
    -fx-background-image: url('img/background.png');
    -fx-background-size: 100% 100%;
}

.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-color: #333333;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}

#titleLabel {
    -fx-font-size: 24px;
}

.text-field {
    -fx-text-box-border: #d6d6d7;
    -fx-focus-color: #e3ad87;
    -fx-hover-color: #d0dec4;
    -fx-font-size: 14px;
}

.choice-box {
    -fx-background-color: #d0dec4;
    -fx-font-weight: bold;
}

.choice-box > .label {
    -fx-text-fill: white;
}

.choice-box:hover {
    -fx-effect: dropshadow(three-pass-box, #e3ad87, 5, 0.0, 0, 1);
}

.button {
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: #d0dec4;
}

.button:hover {
    -fx-effect: dropshadow(three-pass-box, #e3ad87, 5, 0.0, 0, 1);
}

.button:focused {
    -fx-effect: dropshadow(three-pass-box, #e3ad87, 5, 0.0, 0, 1);
}

.non-editable-textfield {
    -fx-text-box-border: #d6d6d7;
    -fx-focus-color: #d6d6d7;
    -fx-hover-color: #d6d6d7;
}